body {
  font-family: 'Darker Grotesque', sans-serif;
}

.card-header {
  background: #C99171;
  text-align: center;
}

/* button styling */
.btn {
  background: #FECB91;
}

#clearBtn{
  margin-left: 90px;
}

/* footer styling */
footer h4{
  text-align: center;
  font-size: 17px;
}